/* ==========================================
body
========================================== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--fontsize-400);
}

body.has-menu {
  @media (width <= 1024px) {
    overflow-y: hidden;
  }
}
