/* ==========================================
body
========================================== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: calc(18 / 16 * 1rem);
}

body.has-menu {
  overflow-y: hidden;
}
