/* ==========================================
=links
========================================== */

a {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.36ex;
  text-decoration-color: var(--color-accent);
  text-decoration-skip-ink: all;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-accent);
  }
}

/* ==========================================
=links in titles
========================================== */

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}
