/* ==========================================
=links
========================================== */

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.36ex;
  text-decoration-color: inherit;
  text-decoration-skip-ink: all;

  &:hover,
  &:focus {
    text-decoration-color: inherit;
  }
}
