/* ==========================================
=reset
========================================== */

*,
*::before,
*::after {
  margin-block-start: 0;
}

html {
  scrollbar-gutter: stable;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
}
