/* ==========================================
=body
========================================== */

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-bkg-primary);
  color: light-dark(
    var(--color-text-primary),
    hsl(from var(--color-text-primary) h s l / 84%)
  );
  font-size: var(--fontsize-base);
}

body.has-menu {
  @media (width < 750px) {
    overflow-y: hidden;
  }
}
