/* ==========================================
=body
========================================== */

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-surface-primary);
  color: var(--color-text-primary);
  font-size: var(--fontsize-400);
}

body.has-menu {
  @media (width < 750px) {
    overflow-y: hidden;
  }
}
