/* ==========================================
margin 2xs
========================================== */

.u-mbs-2xs {
  margin-block-start: var(--spacing-2xs) !important;
}

.u-mbe-2xs {
  margin-block-end: var(--spacing-2xs) !important;
}

.u-mis-2xs {
  margin-inline-start: var(--spacing-2xs) !important;
}

.u-mie-2xs {
  margin-inline-end: var(--spacing-2xs) !important;
}

/* ==========================================
margin xs
========================================== */

.u-mbs-xs {
  margin-block-start: var(--spacing-xs) !important;
}

.u-mbe-xs {
  margin-block-end: var(--spacing-xs) !important;
}

.u-mis-xs {
  margin-inline-start: var(--spacing-xs) !important;
}

.u-mie-xs {
  margin-inline-end: var(--spacing-xs) !important;
}

/* ==========================================
margin sm
========================================== */

.u-mbs-sm {
  margin-block-start: var(--spacing-sm) !important;
}

.u-mbe-sm {
  margin-block-end: var(--spacing-sm) !important;
}

.u-mis-sm {
  margin-inline-start: var(--spacing-sm) !important;
}

.u-mie-sm {
  margin-inline-end: var(--spacing-sm) !important;
}

/* ==========================================
margin md
========================================== */

.u-mbs-md {
  margin-block-start: var(--spacing-md) !important;
}

.u-mbe-md {
  margin-block-end: var(--spacing-md) !important;
}

.u-mis-md {
  margin-inline-start: var(--spacing-md) !important;
}

.u-mie-md {
  margin-inline-end: var(--spacing-md) !important;
}

/* ==========================================
margin lg
========================================== */

.u-mbs-lg {
  margin-block-start: var(--spacing-lg) !important;
}

.u-mbe-lg {
  margin-block-end: var(--spacing-lg) !important;
}

.u-mis-lg {
  margin-inline-start: var(--spacing-lg) !important;
}

.u-mie-lg {
  margin-inline-end: var(--spacing-lg) !important;
}

/* ==========================================
margin xl
========================================== */

.u-mbs-xl {
  margin-block-start: var(--spacing-xl) !important;
}

.u-mbe-xl {
  margin-block-end: var(--spacing-xl) !important;
}

.u-mis-xl {
  margin-inline-start: var(--spacing-xl) !important;
}

.u-mie-xl {
  margin-inline-end: var(--spacing-xl) !important;
}

/* ==========================================
margin 2xl
========================================== */

.u-mbs-2xl {
  margin-block-start: var(--spacing-2xl) !important;
}

.u-mbe-2xl {
  margin-block-end: var(--spacing-2xl) !important;
}

.u-mis-2xl {
  margin-inline-start: var(--spacing-2xl) !important;
}

.u-mie-2xl {
  margin-inline-end: var(--spacing-2xl) !important;
}

/* ==========================================
padding 2xs
========================================== */

.u-pbs-2xs {
  padding-block-start: var(--spacing-2xs) !important;
}

.u-pbe-2xs {
  padding-block-end: var(--spacing-2xs) !important;
}

.u-pis-2xs {
  padding-inline-start: var(--spacing-2xs) !important;
}

.u-pie-2xs {
  padding-inline-end: var(--spacing-2xs) !important;
}

/* ==========================================
padding xs
========================================== */

.u-pbs-xs {
  padding-block-start: var(--spacing-xs) !important;
}

.u-pbe-xs {
  padding-block-end: var(--spacing-xs) !important;
}

.u-pis-xs {
  padding-inline-start: var(--spacing-xs) !important;
}

.u-pie-xs {
  padding-inline-end: var(--spacing-xs) !important;
}

/* ==========================================
padding sm
========================================== */

.u-pbs-sm {
  padding-block-start: var(--spacing-sm) !important;
}

.u-pbe-sm {
  padding-block-end: var(--spacing-sm) !important;
}

.u-pis-sm {
  padding-inline-start: var(--spacing-sm) !important;
}

.u-pie-sm {
  padding-inline-end: var(--spacing-sm) !important;
}

/* ==========================================
padding md
========================================== */

.u-pbs-md {
  padding-block-start: var(--spacing-md) !important;
}

.u-pbe-md {
  padding-block-end: var(--spacing-md) !important;
}

.u-pis-md {
  padding-inline-start: var(--spacing-md) !important;
}

.u-pie-md {
  padding-inline-end: var(--spacing-md) !important;
}

/* ==========================================
padding lg
========================================== */

.u-pbs-lg {
  padding-block-start: var(--spacing-lg) !important;
}

.u-pbe-lg {
  padding-block-end: var(--spacing-lg) !important;
}

.u-pis-lg {
  padding-inline-start: var(--spacing-lg) !important;
}

.u-pie-lg {
  padding-inline-end: var(--spacing-lg) !important;
}

/* ==========================================
padding xl
========================================== */

.u-pbs-xl {
  padding-block-start: var(--spacing-xl) !important;
}

.u-pbe-xl {
  padding-block-end: var(--spacing-xl) !important;
}

.u-pis-xl {
  padding-inline-start: var(--spacing-xl) !important;
}

.u-pie-xl {
  padding-inline-end: var(--spacing-xl) !important;
}

/* ==========================================
padding 2xl
========================================== */

.u-pbs-2xl {
  padding-block-start: var(--spacing-2xl) !important;
}

.u-pbe-2xl {
  padding-block-end: var(--spacing-2xl) !important;
}

.u-pis-2xl {
  padding-inline-start: var(--spacing-2xl) !important;
}

.u-pie-2xl {
  padding-inline-end: var(--spacing-2xl) !important;
}
