/* ==========================================
scroll animations
========================================== */

@keyframes appearFromBottom {
  from {
    opacity: 0;
    translate: 0 12px;
  }
}

[data-scrollanim] {
  @supports (animation-timeline: view()) {
    @media not (prefers-reduced-motion: reduce) {
      animation-timeline: view();
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-range: entry 30px cover 35%;
    }
  }
}

[data-scrollanim="frombottom"] {
  @supports (animation-timeline: view()) {
    @media not (prefers-reduced-motion: reduce) {
      animation-name: appearFromBottom;
    }
  }
}
