/* ==========================================
margin none
========================================== */

.u-mbs-none {
  margin-block-start: 0;
}

.u-mbe-none {
  margin-block-end: 0;
}

.u-mis-none {
  margin-inline-start: 0;
}

.u-mie-none {
  margin-inline-end: 0;
}

/* ==========================================
margin 2xs
========================================== */

.u-mbs-2xs {
  margin-block-start: var(--space-2xs);
}

.u-mbe-2xs {
  margin-block-end: var(--space-2xs);
}

.u-mis-2xs {
  margin-inline-start: var(--space-2xs);
}

.u-mie-2xs {
  margin-inline-end: var(--space-2xs);
}

/* ==========================================
margin xs
========================================== */

.u-mbs-xs {
  margin-block-start: var(--space-xs);
}

.u-mbe-xs {
  margin-block-end: var(--space-xs);
}

.u-mis-xs {
  margin-inline-start: var(--space-xs);
}

.u-mie-xs {
  margin-inline-end: var(--space-xs);
}

/* ==========================================
margin sm
========================================== */

.u-mbs-sm {
  margin-block-start: var(--space-sm);
}

.u-mbe-sm {
  margin-block-end: var(--space-sm);
}

.u-mis-sm {
  margin-inline-start: var(--space-sm);
}

.u-mie-sm {
  margin-inline-end: var(--space-sm);
}

/* ==========================================
margin md
========================================== */

.u-mbs-md {
  margin-block-start: var(--space-md);
}

.u-mbe-md {
  margin-block-end: var(--space-md);
}

.u-mis-md {
  margin-inline-start: var(--space-md);
}

.u-mie-md {
  margin-inline-end: var(--space-md);
}

/* ==========================================
margin lg
========================================== */

.u-mbs-lg {
  margin-block-start: var(--space-lg);
}

.u-mbe-lg {
  margin-block-end: var(--space-lg);
}

.u-mis-lg {
  margin-inline-start: var(--space-lg);
}

.u-mie-lg {
  margin-inline-end: var(--space-lg);
}

/* ==========================================
margin xl
========================================== */

.u-mbs-xl {
  margin-block-start: var(--space-xl);
}

.u-mbe-xl {
  margin-block-end: var(--space-xl);
}

.u-mis-xl {
  margin-inline-start: var(--space-xl);
}

.u-mie-xl {
  margin-inline-end: var(--space-xl);
}

/* ==========================================
margin 2xl
========================================== */

.u-mbs-2xl {
  margin-block-start: var(--space-2xl);
}

.u-mbe-2xl {
  margin-block-end: var(--space-2xl);
}

.u-mis-2xl {
  margin-inline-start: var(--space-2xl);
}

.u-mie-2xl {
  margin-inline-end: var(--space-2xl);
}
