/* ==========================================
sronly
========================================== */

/* hide visually but not from screenreaders */

.u-sronly {
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
