{% macro blogcard(params) %}

  {% set img600x450 = "/assets/img/blogposts/600x450/" ~ params.image %}

  <article class="c-blogcard">
    <a class="c-blogcard__link" href="{{ params.url }}">
      {% if params.image %}
        <div class="c-blogcard__media">
          <img src="{{ img600x450 }}"
                class="c-blogcard__img  o-fluidimg"
                width="800"
                height="600"
                loading="lazy"
                decoding="async"
                alt="{{ params.title }}">
        </div>
      {% endif %}
      <div class="c-blogcard__body">
        <h3 class="c-blogcard__title">
          {{ params.title }}
        </h3>
        <p class="c-blogcard__date">
          <time datetime="{{ params.date|dateISO }}">{{ params.date|dateFull }}</time>
        </p>
      </div>
    </a>
  </article>

{% endmacro %}