  {% set bannerImg = "fontainas.jpg" %}
  {% set bannerAlt = "people at the terrasse of the Fontainas café in Brussels" %}
  {% set bannerCaption = "Café Fontainas, Brussels, 2023 - Jérôme Coupé" %}
  {% set banner800 = '/assets/img/homebanners/800x600/' ~ bannerImg %}
  {% set banner1024 = '/assets/img/homebanners/1024x576/' ~ bannerImg %}
  {% set banner1500 = '/assets/img/homebanners/1500x844/' ~ bannerImg %}

  <div class="c-homebanner">
    <figure class="c-homebanner__figure">
      <picture>
        <source media="(min-width: 600px)"
                srcset="{{ banner1024 }} 1024w,
                        {{ banner1500 }} 1500w"
                sizes="100vw"
                width="1500"
                height="844">
        <img src="{{ banner800 }}"
            width="800"
            height="600"
            alt="{{ bannerCaption }}"
            class="c-homebanner__image">
      </picture>
      <figcaption class="c-homebanner__caption">{{ bannerCaption }}</figcaption>
    </figure>
  </div>