<div class="c-homebanner">
  <img 
    src="/assets/img/homebanners/1500x844/fontainas.jpg" 
    alt="The fontainas bar in downtown Brussels with people outside."
    class="c-homebanner__image">
</div>