<div class="c-homecollage">
  <div class="l-container">
    <ul class="c-homepictures">
      <li class="c-homepictures__one">
        <img src="assets/img/homepictures/homepicture-001.jpg"
             class="o-fluidimg"
             width="800"
             height="800" 
             alt="The terrasse of the Fontainas, a café in downtown Brussels."
             decoding="async">
      </li>
      <li class="c-homepictures__two">
        <img src="assets/img/homepictures/homepicture-002.jpg"
             class="o-fluidimg"
             width="800"
             height="800" 
             alt="A man lying besides his bike in a park."
             decoding="async">
      </li>
      <li class="c-homepictures__three">
        <img src="assets/img/homepictures/homepicture-003.jpg"
             class="o-fluidimg"
             width="800"
             height="800" 
             alt="Two glasses of Gageleer on a red table. Golden hour light."
             decoding="async">
      </li>
    </ul>
  </div>
</div>