<nav aria-label="Main navigation">
  <ul class="c-mainnav">
    {% for item in mainnav %}
      <li class="c-mainnav__item">
        {% set currentClass = "" %}
        {% set currentAria = "" %}
        {% if currentSection == item.trigger %}
          {% set currentClass = "is-active" %}
          {% set currentAria = 'aria-current="page"'|safe %}
        {% endif %}
        <a class="c-mainnav__link  {{ currentClass }}" {{ currentAria }} href="{{ item.url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>