<ul
  class="c-modeswitcher"
  aria-label="Switch color mode">
  <li>
    <button
      class="c-modeswitcher__button"
      data-modeswitch="system"
      title="system mode">
      {% include "svg/icon_mode_system.svg" %}
    </button>
  </li>
  <li>
    <button
      class="c-modeswitcher__button"
      data-modeswitch="light"
      title="light mode">
      {% include "svg/icon_mode_light.svg" %}
    </button>
  </li>
  <li>
    <button
      class="c-modeswitcher__button"
      data-modeswitch="dark"
      title="dark mode">
      {% include "svg/icon_mode_dark.svg" %}
    </button>
  </li>
</ul>