<mode-switcher>
  <ul class="c-modeswitcher">
    <li>
      <button
        class="c-modeswitcher__button"
        data-switchmode="system"
        title="system mode">
        {% include "svg/icon_mode_system.svg" %}
      </button>
    </li>
    <li>
      <button
        class="c-modeswitcher__button"
        data-switchmode="light"
        title="light mode">
        {% include "svg/icon_mode_light.svg" %}
      </button>
    </li>
    <li>
      <button
        class="c-modeswitcher__button"
        data-switchmode="dark"
        title="dark mode">
        {% include "svg/icon_mode_dark.svg" %}
      </button>
    </li>
  </ul>
</mode-switcher>
