{% set pageIndex = pagination.pageNumber %}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set totalPages = pagination.pages|length %}

{% if totalPages > 1 %}

  <nav aria-label="pagination">
    <ul class="c-pagination">
      {# first #}
      {% if pagination.href.previous %}
        <li class="c-pagination__item">
          <a class="c-pagination__previous" href="{{ pagination.href.previous }}">Previous</a>
        </li>
      {% endif %}

      {# previous #}
      {% if pagination.hrefs[pageIndex - 1] %}
        <li class="c-pagination__item">
          <a class="c-pagination__link" href="{{ pagination.hrefs[pageIndex - 1] }}">{{ pageNumber - 1 }}</a>
        </li>
      {% endif %}

      {# current #}
      <li class="c-pagination__item">
        <a class="c-pagination__link  is-current" href="{{ pagination.href[pageIndex] }}" aria-current="page">{{ pageNumber }}</a>
      </li>
      {# next #}

      {% if pagination.hrefs[pageIndex + 1] %}
        <li class="c-pagination__item">
          <a class="c-pagination__link" href="{{ pagination.hrefs[pageIndex + 1] }}">{{ pageNumber + 1 }}</a>
        </li>
      {% endif %}

      {# last #}
      {% if pagination.href.next %}
        <li class="c-pagination__item">
          <a class="c-pagination__next" href="{{ pagination.href.next }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}