{% if pagination.pages|length > 1 %}
  <nav aria-label="pagination">
    <div class="c-pagination">
      <ul class="c-pagesnav">
        <li class="c-pagesnav__item">
          {% if pagination.href.previous %}
            <a class="c-pagesnav__link  c-pagesnav__link--previous" href="{{ pagination.href.previous }}" aria-label="previous page">
              {% include "svg/icon-page-previous.svg" %}
            </a>
          {% else %}
            <span a class="c-pagesnav__link  c-pagesnav__link--previous is-disabled">
              {% include "svg/icon-page-previous.svg" %}
            </span>
          {% endif %}
        </li>
        <li class="c-pagesnav__item">
          {% if pagination.href.next %}
            <a class="c-pagesnav__link  c-pagesnav__link--next" href="{{ pagination.href.next }}" aria-label="previous page">
              {% include "svg/icon-page-next.svg" %}
            </a>
          {% else %}
            <span a class="c-pagesnav__link  c-pagesnav__link--next is-disabled">
              {% include "svg/icon-page-next.svg" %}
            </span>
          {% endif %}
        </li>
      </ul>
      <p class="c-pagescounter">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages|length }}</p>
    </div>
  </nav>
{% endif %}