// ==========================================
// margin block start
// ==========================================

.u-margin-block-start-xxs {
  margin-block-start: var(--space-xxs);
}

.u-margin-block-start-xs {
  margin-block-start: var(--space-xs);
}

.u-margin-block-start-s {
  margin-block-start: var(--space-s);
}

.u-margin-block-start-base {
  margin-block-start: var(--space-base);
}

.u-margin-block-start-l {
  margin-block-start: var(--space-l);
}

.u-margin-block-start-xl {
  margin-block-start: var(--space-xl);
}

.u-margin-block-start-xxl {
  margin-block-start: var(--space-xxl);
}

// ==========================================
// margin block end
// ==========================================

.u-margin-block-end-xxs {
  margin-block-end: var(--space-xxs);
}

.u-margin-block-end-xs {
  margin-block-end: var(--space-xs);
}

.u-margin-block-end-s {
  margin-block-end: var(--space-s);
}

.u-margin-block-end-base {
  margin-block-end: var(--space-base);
}

.u-margin-block-end-l {
  margin-block-end: var(--space-l);
}

.u-margin-block-end-xl {
  margin-block-end: var(--space-xl);
}

.u-margin-block-end-xxl {
  margin-block-end: var(--space-xxl);
}
