/* ==========================================
fluid images
========================================== */

.o-fluidimg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

.o-fluidimg--full {
  inline-size: 100%;
}
