// ==========================================
// links
// ==========================================

a {
  color: var(--color-accent-dark);
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: underline;
}
