/* ==========================================
=manifesto
========================================== */

.c-manifesto {
  font-weight: 350;
  font-family: var(--fontstack-alt);
  font-size: clamp(24px, 1rem + 3vi, 57px);
  line-height: 1.2;
  margin-block-end: 0;
  text-wrap: balance;

  & > em {
    color: var(--color-accent);
  }

  @media (width >= 750px) {
    max-inline-size: 32ch;
  }
}
