/* ==========================================
footer titles
========================================== */

.c-footertitle {
  font-weight: 600;
  font-family: var(--fontstack-main);
  line-height: 1.32;
  color: inherit;
  margin-bottom: calc(12 / 16 * 1rem);
  font-size: 1rem;
}
