/* ==========================================
sitefooter
========================================== */

.c-sitefooter {
  --footer-background: light-dark(
    var(--color-accent-bright),
    var(--color-gray200)
  );

  display: block;
  background-color: var(--footer-background);
}

.c-sitefooter__main {
  padding-block: calc(42 / 16 * 1rem);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c";
  gap: var(--grid-gap);

  @media (width >= 750px) {
    padding-block: calc(60 / 16 * 1rem);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b c";
  }

  @media (width >= 1024px) {
    padding-block-start: calc(84 / 16 * 1rem);
  }
}

.c-sitefooter__message {
  grid-area: a;
}

.c-sitefooter__nav {
  grid-area: b;
}

.c-sitefooter__social {
  grid-area: c;
}

.c-sitefooter__end {
  border-block-start: 1px solid var(--color-border-primary);
  padding-block: calc(16 / 16 * 1rem);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(18 / 16 * 1rem);
}
