/* ==========================================
Page intro
========================================== */

.c-pageintro {
  text-align: center;
}

.c-pageintro__title {
  display: block;
  max-width: 30ch;
  margin-inline: auto;

  font-weight: 400;
  font-size: clamp(23px, calc(0.5rem + 3vw), 46px);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  text-wrap: balance;
}
