/* ==========================================
titles
========================================== */

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
  font-weight: 500;
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-titles);
  margin-bottom: 0.84em;
}

.c-h1 {
  font-weight: 400;
  font-size: var(--fontsize-900);
}

.c-h2 {
  font-size: var(--fontsize-800);
}

.c-h3 {
  font-size: var(--fontsize-600);
}

.c-h4 {
  font-size: var(--fontsize-500);
}

.c-h5 {
  font-size: var(--fontsize-400);
}

.c-h6 {
  font-size: var(--fontsize-400);
}

/* ==========================================
small title
========================================== */

.c-smalltitle {
  font-weight: 550;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  text-transform: uppercase;
  color: var(--color-titles);
  margin-block-end: 1.5em;
}

/* ==========================================
suptitle
========================================== */

.c-suptitle {
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-block-end: 1em;
}

/* ==========================================
footer titles
========================================== */

.c-footertitle {
  font-weight: 550;
  font-family: var(--fontstack-main);
  line-height: 1.32;
  color: inherit;
  margin-block-end: 1em;
  font-size: var(--fontsize-300);
  color: var(--color-titles);
  text-transform: uppercase;
}
