/* ==========================================
wysiwyg
========================================== */

.c-wysiwyg {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: var(--fontstack-alt);
    line-height: 1.32;
    color: var(--color-text-highlight);
    margin-block-end: 0.72em;
  }

  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-block-start: 1.26em;
  }

  h2 {
    font-size: clamp(29 / 16 * 1rem, 1rem + 2vw, 32 / 16 * 1rem);
  }

  h3 {
    font-size: clamp(26 / 16 * 1rem, 1rem + 1vw, 29 / 16 * 1rem);
  }

  h4 {
    font-size: calc(23 / 16 * 1rem);
  }

  h5 {
    font-weight: 450;
    font-size: calc(20 / 16 * 1rem);
  }

  h6 {
    font-weight: 420;
    font-size: calc(18 / 16 * 1rem);
    line-height: 1.44;
  }

  code {
    color: var(--color-text-offset);
  }
}
