/* ==========================================
project card
========================================== */

.c-projectcard {
  display: block;
  margin-block-end: 1rem;
}

.c-projectcard__media {
  margin-block-end: calc(18 / 16 * 1rem);
}
