/* ==========================================
pagination
========================================== */

.c-pagination {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3px;

  margin-block-start: calc(30 / 16 * 1rem);
  border-block-start: 1px solid var(--color-border-primary);
  padding-block: calc(18 / 16 * 1rem);
}

.c-pagination__link {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  text-box-trim: trim-both;
  color: var(--color-text-primary);
  text-decoration: none;
}

.c-pagination__link.is-current {
  border: 2px solid var(--color-accent);
  border-radius: 3px;
}

.c-pagination__previous,
.c-pagination__next {
  color: var(--color-text-primary);
  text-decoration: none;
}
