/* ==========================================
titles
========================================== */

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
  font-weight: 450;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-text-primary);
  margin-bottom: 0.72em;
}

.c-h1 {
  font-size: clamp(32 / 16 * 1rem, 1rem + 3vw, 36 / 16 * 1rem);
}

.c-h2 {
  font-size: clamp(29 / 16 * 1rem, 1rem + 2.5vw, 32 / 16 * 1rem);
}

.c-h3 {
  font-size: clamp(26 / 16 * 1rem, 1rem + 2.5vw, 29 / 16 * 1rem);
}

.c-h4 {
  font-size: calc(23 / 16 * 1rem);
}

.c-h5 {
  font-size: calc(20 / 16 * 1rem);
}

.c-h6 {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.44;
}

/* ==========================================
small title
========================================== */

.c-smalltitle {
  font-weight: 600;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  text-transform: uppercase;
  color: var(--color-text-primary);
  margin-block-end: 2em;
}
