/* ==========================================
sitefooter
========================================== */

.c-sitefooter {
  display: block;
  background-color: var(--color-accent-washed);
}

.c-sitefooter__main {
  padding-block-start: calc(42 / 16 * 1rem);
  padding-block-end: calc(18 / 16 * 1rem);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c";
  gap: var(--grid-gap);

  @media (width >= 750px) {
    padding-block-start: calc(60 / 16 * 1rem);
    padding-block-end: calc(36 / 16 * 1rem);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b c";
  }

  @media (width >= 1024px) {
    padding-block-start: calc(84 / 16 * 1rem);
  }
}

.c-sitefooter__message {
  grid-area: a;
}

.c-sitefooter__nav {
  grid-area: b;
}

.c-sitefooter__social {
  grid-area: c;
}

.c-sitefooter__end {
  padding-block: calc(16 / 16 * 1rem);
}
