/* ==========================================
blog card
========================================== */

.c-blogcard {
  display: block;
}

.c-blogcard__media {
  margin-block-end: calc(18 / 16 * 1rem);
  display: block;
  overflow: hidden;
}

.c-blogcard__img {
  scale: 1;
  transition: scale 0.2s ease-out;

  a:hover &,
  a:focus & {
    scale: 1.012;
  }
}

.c-blogcard__title {
  font-weight: 500;
  font-size: clamp(18/16 * 1rem, 0.5rem + 2vw, 20/16 * 1rem);
  line-height: 1.32;
  font-family: var(--fontstack-alt);
  margin-block-end: calc(6 / 16 * 1rem);
  color: var(--color-text-primary);
  text-wrap: balance;
}

.c-blogcard__title > a {
  color: var(--color-titles);
  text-decoration: none;
}

.c-blogcard__title > a:hover,
.c-blogcard__title > a:focus {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: color-mix(in srgb, currentColor, transparent 80%);
  text-decoration-thickness: 1px;
}

.c-blogcard__date {
  font-size: var(--fontsize-300);
  color: var(--color-text-secondary);
}
