/* ==========================================
siteheader
========================================== */

.c-siteheader {
  color: var(--color-text-primary);
  padding-block-start: clamp(18px, 0.16px + 1vi, 30px);
}

/* ==========================================
siteheader inner
========================================== */

.c-siteheader__inner {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 18px;
}

/* ------------------------------------------
logo
------------------------------------------ */

.c-siteheader__logo {
  --logo-size: 90px;

  color: var(--color-titles);
  margin: 0 auto 0 0;

  & > a,
  & > a:hover,
  & > a:focus {
    display: block;
    text-decoration: none;
  }

  & svg {
    display: block;
    inline-size: var(--logo-size);
    block-size: auto;
  }

  @media (width >= 750px) {
    --logo-size: 120px;
  }
}

/* ------------------------------------------
siteheader nav
------------------------------------------ */

/*
contains mainnav and utilsnav
*/

.c-siteheader__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(24 / 16 * 1rem);
}

/* ------------------------------------------
hamburger
------------------------------------------ */

.c-siteheader__hamburger {
  margin: 0;
  padding: 0;

  & > a,
  & svg {
    display: block;
  }
}

/* ------------------------------------------
toggle visibility
------------------------------------------ */

.c-siteheader__nav {
  display: none;

  @media (width >= 750px) {
    display: flex;
  }
}

.c-siteheader__hamburger {
  display: block;

  @media (width >= 750px) {
    display: none;
  }
}
