/* ==========================================
mobile nav
========================================== */

.c-mobilenav {
  --anim-duration: 0.2s;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(6 / 16 * 1rem);
}

.c-mobilenav__item {
  display: block;
  overflow: hidden;
}

.c-mobilenav__link {
  animation-delay: calc((var(--anim-duration) + (var(--delay)) * 0.06s));
  animation-name: slideFromBottom;
  animation-duration: var(--anim-duration);
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  display: block;
  padding-block: calc(3 / 16 * 1rem);
  font-weight: 300;
  font-size: clamp(
    calc(32 / 16 * 1rem),
    calc(1rem + 3vw),
    calc(41 / 16 * 1rem)
  );
  line-height: 1;
  font-family: var(--fontstack-main);
  color: var(--color-white);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-mobilenav__link.is-active {
  color: var(--color-accent);
}
