/* ==========================================
blog card
========================================== */

.c-blogcard {
  display: block;
}

.c-blogcard__media {
  margin-block-end: calc(12 / 16 * 1rem);
  display: block;
  overflow: hidden;
}

.c-blogcard__link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-blogcard__title {
  font-weight: 500;
  font-size: clamp(18/16 * 1rem, 0.5rem + 0.5vw, 20/16 * 1rem);
  line-height: 1.44;
  font-family: var(--fontstack-alt);
  margin-block-end: calc(6 / 16 * 1rem);
  color: var(--color-text-primary);

  a:hover &,
  a:focus & {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.c-blogcard__date {
  font-size: calc(14 / 16 * 1rem);
  color: var(--color-text-offset);

  @media (width >= 1024px) {
    font-size: 1rem;
  }
}
