/* ==========================================
footer titles
========================================== */

.c-footertitle {
  font-weight: 500;
  font-family: var(--fontstack-main);
  line-height: 1.32;
  color: var(--color-text-primary);
  margin-bottom: 0.54em;
  font-size: 1rem;
}
