/* ==========================================
section
========================================== */

.c-pagesection {
  padding-block: calc(54 / 16 * 1rem);

  @media (width >= 500px) {
    padding-block: calc(60 / 16 * 1rem);
  }

  @media (width >= 750px) {
    padding-block: calc(72 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    padding-block: calc(90 / 16 * 1rem);
  }

  @media (width >= 1500px) {
    padding-block: calc(120 / 16 * 1rem);
  }
}

/* ==========================================
section block
========================================== */

.c-pagesection__block + .c-pagesection__block {
  margin-block-start: calc(48 / 16 * 1rem);

  @media (width >= 500px) {
    margin-block-start: calc(60 / 16 * 1rem);
  }

  @media (width >= 750px) {
    margin-block-start: calc(90 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    margin-block-start: calc(120 / 16 * 1rem);
  }

  @media (width >= 1500px) {
    margin-block-start: calc(150 / 16 * 1rem);
  }
}
