/* ==========================================
Home banner
========================================== */

.c-homebanner {
  background-color: var(--color-background-alt);
}

.c-homebanner__figure {
  position: relative;

  @include breakpoint(xlarge) {
    padding: calc(18 / 16 * 1rem);
  }
}

.c-homebanner__image {
  display: block;
  width: 100%;
  height: auto;
}

.c-homebanner__caption {
  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--color-white);
  font-size: calc(12 / 16 * 1rem);
  padding-block: calc(12 / 16 * 1rem);
  padding-inline: calc(18 / 16 * 1rem);

  @media (width >= 1500px) {
    bottom: 18px;
    left: 18px;
  }
}
