@keyframes parallax {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(90px);
  }
}

.c-homebanner {
  position: relative;
  overflow: clip;
  aspect-ratio: 1 / 1;

  @media (width >= 500px) {
    aspect-ratio: 4/3;
  }

  @media (width >= 1024px) {
    aspect-ratio: 16/9;
  }
}

.c-homebanner__image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  block-size: calc(100% + 90px);
  inline-size: 100%;
  object-fit: cover;
  object-position: 50% 50%;

  @supports (animation-timeline: scroll()) {
    animation-timeline: scroll();
    animation-name: parallax;
    animation-timing-function: linear;
  }
}
