/* ==========================================
footer message
========================================== */

.c-footermessage {
  display: block;
  font-size: calc(18 / 16 * 1rem);
  font-weight: 450;
  font-family: var(--fontstack-main);
  max-width: 32ch;
}
