/* ==========================================
=call to action link
========================================== */

.c-ctalink {
  color: inherit;
  display: inline-block;
  padding-block-end: 1px;
  border-bottom: 3px solid var(--color-accent);
  text-decoration: none;

  transition: border-color 0.2s ease-out;

  &:hover,
  &:focus {
    border-color: hsl(from var(--color-accent) h s calc(l - 10));
  }
}
