/* ==========================================
=blog card
========================================== */

.c-blogcard {
  display: block;
}

.c-blogcard__media {
  margin-block-end: 18px;
}

.c-blogcard__title {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 450;
  line-height: 1.38;
  font-family: var(--fontstack-alt);
  color: var(--color-text-primary);
  text-wrap: balance;
  margin-block-end: 0.36em;
}

.c-blogcard__date {
  font-size: var(--fontsize-sm);
  color: var(--color-text-secondary);
}

.c-blogcard__title > a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-blogcard__medialink {
  display: block;
  position: relative;
}

.c-blogcard__medialink::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.18);
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;

  transition: opacity 0.3s ease-out;
}

.c-blogcard__medialink:hover::before {
  opacity: 1;
}

.c-blogcard__image {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
