/* ==========================================
=small titles
========================================== */

.c-smalltitle {
  font-family: var(--fontstack-main);
  font-weight: 600;
  font-size: var(--fontsize-xs);
  color: var(--color-text-primary);
  text-transform: uppercase;
  margin-block-end: 1.8em;

  & > .amperstand {
    line-height: 1;
    text-box-trim: trim-both;
    font-family: var(--fontstack-alt);
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: var(--color-accent);
    vertical-align: center;
  }
}
