/* ==========================================
=section
========================================== */

.c-section {
  --section-background: transparent;
  --section-padding: clamp(48px, 10vi, 120px);

  padding-block: var(--section-padding);
  background-color: var(--section-background);
}

.c-section--accent {
  --section-background: light-dark(
    var(--color-accent-light),
    var(--color-gray-200)
  );
}
