/* ==========================================
=footer message
========================================== */

.c-footermessage {
  max-inline-size: 36ch;
  text-wrap: balance;
}

.c-footermessage a {
  color: inherit;
}
