/* ==========================================
=footer title
========================================== */

.c-footertitle {
  font-family: var(--fontstack-main);
  font-weight: 550;
  font-size: var(--fontsize-300);
  text-transform: uppercase;
  color: var(--color-text-primary);
  margin-block-end: 1em;
}
