/* ==========================================
=titles
========================================== */

/* https://www.modularscale.com/?18&px&1.125 */

.c-h1,
.c-h2,
.c-h3,
.c-h4 {
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  font-weight: 400;
}
