/* ==========================================
=small titles
========================================== */

.c-smalltitle {
  font-family: var(--fontstack-main);
  font-weight: 500;
  font-size: calc(20 / 16 * 1rem);
  color: var(--color-text-primary);
  margin-block-end: 1.5em;
}
