/* ==========================================
=mobile navigation
========================================== */

@keyframes slideUp {
  from {
    opacity: 0;
    translate: 0 100%;
    rotate: -3deg;
  }
}

.c-mobilenav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 3px;
}

.c-mobilenav__item {
  display: block;
  overflow: clip;
}

.c-mobilenav__link {
  color: inherit;
  display: block;
  font-size: var(--fontsize-700);
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: slideUp var(--delay) 0.2s ease-out both;
  }
}
