/* ==========================================
spacing
========================================== */

:root {
  --space-2xs: 3px;
  --space-xs: 6px;
  --space-sm: 12px;
  --space-md: 18px;
  --space-lg: 24px;
  --space-xl: 30px;
  --space-2xl: 60px;
}
