/* ==========================================
=colors
========================================== */

:root {
  color-scheme: light dark;

  --color-gray-100: hsl(12, 6%, 3%);
  --color-gray-200: hsl(12, 6%, 6%);
  --color-gray-300: hsl(12, 6%, 30%);
  --color-gray-400: hsl(12, 6%, 48%);
  --color-gray-500: hsl(12, 6%, 60%);
  --color-gray-600: hsl(12, 6%, 72%);
  --color-gray-700: hsl(12, 6%, 84%);
  --color-gray-800: hsl(12, 6%, 98%);

  --color-green: hsl(67, 90%, 30%);
  --color-green-dark: hsl(from var(--color-green) h s 18%);
  --color-green-light: hsl(from var(--color-green) h s 92%);

  --color-teal: hsl(181, 90%, 30%);
  --color-teal-dark: hsl(from var(--color-teal) h s 18%);
  --color-teal-light: hsl(from var(--color-teal) h s 92%);

  --color-brown: hsl(35, 90%, 30%);
  --color-brown-dark: hsl(from var(--color-brown) h s 18%);
  --color-brown-light: hsl(from var(--color-brown) h s 92%);

  /* accent colors (defaults to green) */
  --color-accent: light-dark(
    var(--color-green),
    hsl(from var(--color-green) h s calc(l + 8))
  );
  --color-accent-dark: var(--color-green-dark);
  --color-accent-light: var(--color-green-light);

  /* text colors */
  --color-text-primary: light-dark(
    var(--color-gray-100),
    var(--color-gray-800)
  );
  --color-text-secondary: light-dark(
    var(--color-gray-300),
    var(--color-gray-500)
  );

  /* surface colors */
  --color-surface-primary: light-dark(white, var(--color-gray-200));

  /* border colors */
  --color-border-primary: light-dark(
    rgba(0, 0, 0, 0.12),
    rgba(255, 255, 255, 0.12)
  );
  --color-border-secondary: light-dark(
    rgba(0, 0, 0, 0.06),
    rgba(255, 255, 255, 0.06)
  );
}

[data-mode="dark"] {
  color-scheme: dark;
}

[data-mode="light"] {
  color-scheme: light;
}

[data-theme="green"] {
  --color-accent: light-dark(
    var(--color-green),
    hsl(from var(--color-green) h s calc(l + 8))
  );
  --color-accent-dark: var(--color-green-dark);
  --color-accent-light: var(--color-green-light);
}

[data-theme="teal"] {
  --color-accent: light-dark(
    var(--color-teal),
    hsl(from var(--color-teal) h s calc(l + 8))
  );
  --color-accent-dark: var(--color-teal-dark);
  --color-accent-light: var(--color-teal-light);
}

[data-theme="brown"] {
  --color-accent: light-dark(
    var(--color-brown),
    hsl(from var(--color-brown) h s calc(l + 8))
  );
  --color-accent-dark: var(--color-brown-dark);
  --color-accent-light: var(--color-brown-light);
}
