// ==========================================
// home banner
// ==========================================

.c-homebanner {
  display: block;

  @include breakpoint(large) {
    margin-inline: calc(18 / 16 * 1rem);
  }
}

.c-homebanner__image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 840px;
  object-fit: cover;
}

.c-homebanner__caption {
  text-align: end;
  font-size: calc(12 / 16 * 1rem);
  padding: calc(12 / 16 * 1rem) calc(12 / 16 * 1rem);
  color: var(--color-gray5);

  @include breakpoint(large) {
    padding-inline: 0;
  }
}
