// ==========================================
// titles
// ==========================================

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
  font-weight: 450;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-text-highlight);
  margin-bottom: 0.72em;
}

.c-h1 {
  font-size: clamp(32 / 16 * 1rem, 1rem + 3vw, 36 / 16 * 1rem);
}

.c-h2 {
  font-size: clamp(29 / 16 * 1rem, 1rem + 2.5vw, 32 / 16 * 1rem);
}

.c-h3 {
  font-size: clamp(26 / 16 * 1rem, 1rem + 2.5vw, 29 / 16 * 1rem);
}

.c-h4 {
  font-size: calc(23 / 16 * 1rem);
}

.c-h5 {
  font-size: calc(20 / 16 * 1rem);
}

.c-h6 {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.44;
}

// ==========================================
// big title (home)
// ==========================================

.c-bigtitle {
  font-weight: 400;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-text-highlight);
  margin-bottom: 0.5em;
  font-size: clamp(36 / 16 * 1rem, 1rem + 3vw, 54 / 16 * 1rem);
}

// ==========================================
// footer titles
// ==========================================

.c-footertitle {
  font-weight: 450;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-white);
  margin-bottom: 0.84em;
  font-size: calc(18 / 16 * 1rem);
}
