// ==========================================
// home banner
// ==========================================

.c-homebanner {
  background-color: var(--color-background);
  margin-inline: calc(18 / 16 * 1rem);
}

.c-homebanner__image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 780px;
  object-fit: cover;
}

.c-homebanner__caption {
  padding-block: 12px;
  text-align: right;
  color: var(--color-text-offset);
  font-size: calc(12 / 16 * 1rem);
}
