// ==========================================
// section
// ==========================================

.c-section {
  padding-block: calc(24 / 16 * 1rem);

  @include breakpoint(medium) {
    padding-block: calc(36 / 16 * 1rem);
  }

  @include breakpoint(large) {
    padding-block: calc(42 / 16 * 1rem);
  }
}

.c-section__block + .c-section__block {
  padding-block-start: calc(30 / 16 * 1rem);
}
