// ==========================================
// mobile menu
// ==========================================

.c-mobilemenu {
  --color-background: var(--color-gray1);
  --color-text-highlight: var(--color-white);
  --color-text: var(--color-white);

  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  padding-block: calc(30 / 16 * 1rem);

  @include breakpoint(medium) {
    padding-block: calc(42 / 16 * 1rem);
  }
}

.c-mobilemenu.is-active {
  display: block;
  animation: appear 0.2s ease-out both;

  @include breakpoint(large) {
    display: none;
  }
}

.c-mobilemenu__inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.c-mobilemenu__actions {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.c-mobilemenu__content {
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.c-mobilemenu__close {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  line-height: 1;
  background-color: transparent;

  & > svg {
    display: block;
  }
}
