// ==========================================
// page intro
// ==========================================

.c-pageintro {
  max-width: 920px;
  font-size: calc(18 / 16 * 1rem);

  @include breakpoint(large) {
    font-size: calc(21 / 16 * 1rem);
  }
}
