// ==========================================
// call to action links
// ==========================================

.c-ctalink {
  display: inline-block;
  padding-block: var(--space-xxs);
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 450;
  border-block-end: 2px solid var(--color-accent);
}

.c-ctalink:hover,
.c-ctalink:focus {
  text-decoration: none;
  border-color: var(--color-accent-dark);
}
