// ==========================================
// footer
// ==========================================

.c-sitefooter {
  display: block;
}

.c-sitefooter__main {
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  padding-block-start: calc(42 / 16 * 1rem);
  padding-block-end: calc(24 / 16 * 1rem);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--grid-gutter);

  @include breakpoint(medium) {
    padding-block-start: calc(60 / 16 * 1rem);
    grid-template-columns: minmax(0, 4fr) minmax(0, 3fr) minmax(0, 3fr);
  }

  @include breakpoint(large) {
    padding-block-start: calc(90 / 16 * 1rem);
    grid-template-columns: (minmax(0, 6fr)) minmax(0, 3fr) minmax(0, 3fr);
  }
}

.c-sitefooter__end {
  padding-block: calc(18 / 16 * 1rem);
}
