// ==========================================
// copyright
// ==========================================

.c-amperstand {
  display: inline-block;
  color: var(--color-accent);
  font-family: Baskerville, Palatino, Constantia, Book Antiqua, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
  vertical-align: baseline;
}
