<!DOCTYPE html>
<html lang="en" data-color="{{ colorTheme|default('default') }}" data-mode="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metaTitle }} - Webstoemp</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ metaDescription }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  {# Preload #}
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/switzer-variable.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/switzer-variableitalic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/sentient-variable.woff2">

  {# Rel me #}
  <link rel="me" href="{{ site.me.mastodon }}">

  {# Open Graph #}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url ~ page.url }}" />
  <meta property="og:title" content="{{ metaTitle }} - Webstoemp" />
  <meta property="og:image" content="{{ metaImage|default("/assets/img/metaimage.png") }}" />
  <meta property="og:description" content="{{ metaDescription }}" />

  {# Feed #}
  <link rel="alternate" href="/feed.xml" title="Webstoemp blog feed, by Jérôme Coupé" type="application/atom+xml">

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# JS #}
  <script type="module" src="/assets/js/main.bundle.js"></script>
</head>
<body>
  {% include "components/siteheader.njk" %}
  <main class="c-maincontent">
    {% block content %}{% endblock %}
  </main>
  {% include "components/sitefooter.njk" %}
</body>
</html>