{% extends "layouts/base.njk" %}

{% set metaTitle = title ~ " - Webstoemp Blog" %}
{% set metaDescription = excerpt %}
{% set metaImage = '/assets/img/blogposts/600x600/' ~ image %}
{% set currentSection = "blog" %}

{% set colorTheme = "yellow" %}
{% set headerBackground = false %}

{% block content %}
<div class="c-pagesection">
  <article class="c-blogpost">
    
    <header class="c-blogpost__intro u-aligncenter">
      <div class="l-container  l-container--small">
        <p class="c-suptitle">{{ page.date | dateFull }}</p>
        <h1 class="c-h1 u-textwrap-balance">{{ title }}</h1>
      </div>
    </header>

    <div class="c-blogpost__image">
      <div class="l-container">
        {% set img800 = '/assets/img/blogposts/800x800/' ~ image %}
        {% set img1024 = '/assets/img/blogposts/1024x576/' ~ image %}
        {% set img1500 = '/assets/img/blogposts/1500x844/' ~ image %}
        {% set img2000 = '/assets/img/blogposts/2000x1125/' ~ image %}
        
        <picture>
          <source media="(min-width: 500px)"
                  srcset="{{ img1024 }} 1024w,
                          {{ img1500 }} 1500w,
                          {{ img2000 }} 2000w"
                  width="2000"
                  height="1125"
                  sizes="100vw">
          <img src="{{ img800 }}"
               width="800"
               height="800"
               class="o-fluidimg"
               alt="{{ imageAlt }}"
               decoding="async">
        </picture>
      </div>
    </div>

    <div class="c-blogpost__body">
      <div class="l-container  l-container--copy  c-wysiwyg">
        <div>
          <p class="c-lead">{{ excerpt }}</p>
        </div>
        {{ content | safe }}
      </div>
    </div>

  </article>
</div>
{% endblock %}