{% extends "layouts/base.njk" %}

{% set metaTitle = title ~ " - Webstoemp Blog" %}
{% set metaDescription = excerpt %}
{% set metaImage = "" %}
{% set currentSection = "blog" %}

{% block content %}
<div class="c-pagesection  u-pbs-none">
  <article class="c-blogpost">
    
    <header class="c-blogpost__intro">
      <div class="l-container  l-container--copy">
        <p class="c-blogpost__date">{{ page.date | dateFull }}</p>
        <h1 class="c-bigtitle">{{ title }}</h1>
      </div>
    </header>

    <div class="c-blogpost__image">
      <div class="l-container">
        {% set img600 = '/assets/img/blogposts/600x600/' ~ image %}
        {% set img1024 = '/assets/img/blogposts/1024x576/' ~ image %}
        {% set img1500 = '/assets/img/blogposts/' ~ image %}

        <picture>
          <source srcset="{{ img1024 }} 1024w,
                          {{ img1500 }} 1500w"
                  width="1500"
                  height="844"
                  sizes="100vw"
                  media="(min-width: 500px)">
          <img src="{{ img600 }}"
                width="600"
                height="600"
                class="o-fluidimg"
                alt="{{ imageAlt }}"
                decoding="async">
        </picture>
      </div>
    </div>

    <div class="c-blogpost__body">
      <div class="l-container  l-container--copy  c-wysiwyg">
        <div>
          <p class="c-lead">{{ excerpt }}</p>
        </div>
        {{ content | safe }}
      </div>
    </div>

  </article>
</div>
{% endblock %}