---
pagination: 
  data: collections.blogposts
  size: 12
  alias: blogposts
permalink: /blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

{% extends "layouts/base.njk" %}

{% from "components/blogcard.njk" import blogcard %}

{% set metaTitle = "Blog" %}
{% set metaDescription = "Blogposts, thoughts and ramblings by Jérôme Coupé." %}
{% set currentSection = "blog" %}

{% set colorTheme = "yellow" %}

{% block content %}

  <div class="c-pagesection">
    <div class="l-container">

      <div class="c-pageintro">
        <p class="c-suptitle">Infrequent ramblings</p>
        <h1 class="c-pageintro__title">A journal of sorts. I hope it will help me remember it all when I am old, gray and nodding by the fire.</h1>
      </div>
        
    </div>
  </div>

  <div class="c-pagesection  u-pbs-none">
    <div class="l-container">

      {% for item in blogposts %}
        {% if loop.first %}<ul class="l-grid" style="--gap:  var(--space-xl) var(--grid-gap); --columns-sm: 2; --columns-md: 3; --columns-lg: 4;">{% endif %}
          <li>
            {{ blogcard({
              title: item.data.title,
              url: item.url,
              image: item.data.image,
              date: item.date
            }) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% include "components/pagination.njk" %}

    </div>
  </div>
  
{% endblock %}