---
pagination: 
  data: collections.blogposts
  size: 12
  alias: blogposts
permalink: /blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

{% extends "layouts/base.njk" %}

{% from "components/blogcard.njk" import blogcard %}

{% set metaTitle = "Blog" %}
{% set metaDescription = "Blogposts, thoughts and ramblings by Jérôme Coupé." %}
{% set currentSection = "blog" %}

{% set colorTheme = "yellow" %}

{% block content %}

  <div class="c-section c-section--intro">
    <div class="l-container">

      <div class="c-pageintro">
        <h1 class="c-pageintro__title">Blogposts</h1>
      </div>

    </div>
  </div>
  <div class="c-section u-pbs-none">
    <div class="l-container">

        <ul class="c-tabs">
          <li class="c-tabs__item">
            <a 
              class="c-tabs__link" 
              href="#">
              {% include "svg/icon_list.svg" %}
              <span aria-hidden="true">List view</span>
            </a>
          </li>
          <li class="c-tabs__item">
            <a
              class="c-tabs__link" 
              href="/feed.xml">
              {% include "svg/icon_rss.svg" %}
              <span aria-hidden="true">RSS feed</span>
            </a>
          </li>
        </ul>

        {% for item in blogposts %}
          {% if loop.first %}<ul class="l-grid l-grid--gap l-grid--2cols@sm l-grid--3cols@md  l-grid--4cols@lg">{% endif %}
            <li>
              {{ blogcard({
                title: item.data.title,
                url: item.url,
                image: item.data.image,
                date: item.date
              }) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
        {% include "components/pagination.njk" %}
      </div>

    </div>
  </div>
  
{% endblock %}