---
permalink: /index.html
---

{% layout "layouts/base.liquid" %}

{% block content %}
  <main>
    <div class="c-section">
      <div class="l-container">

        <h1 class="h1">Design
          <span class="c-amperstand">&amp;</span>
          Code</h1>
        <p>Welcome to the online home of Jérôme Coupé, web designer, developer and teacher from Brussels. Like all great dishes, I believe websites are made of a few simple, carefully chosen and well prepared ingredients.</p>

      </div>
    </div>
    <div class="c-section">
      <div class="l-container">

        <h2 class="h2">Meet the cook</h2>
        <p>When I am not busy designing and coding up a website or twisting young minds at school, chances are I am drinking a few Belgian craft beers with friends somewhere in Brussels.</p>
        <p>
          <a href="#">Get in touch</a>
        </p>

        <h2 class="h2">On the menu</h2>
        <p>Although I work on web apps too, I must confess I have a soft spot for building publication platforms and content-oriented websites.</p>
        <p>
          <a href="#">Selected projects</a>
        </p>

      </div>
    </div>
  </main>
{% endblock %}