---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Hello world</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque alias nihil error omnis quo obcaecati, enim ipsum pariatur cupiditate blanditiis reprehenderit libero sint animi maxime labore aut, cum iure? Officia.</p>
{% endblock %}