---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% from "macros/blogcard.njk" import blogcard %}

{% set metaTitle = "Home" %}
{% set metaDescription = "Portfolio and blog of Jérôme Coupé, belgian designer, developer and teacher based in Brussels." %}
{% set metaImage = "/assets/img/metaimage.png" %}

{% set colorTheme = "teal" %}
{% set currentSection = "home" %}
{% set bannerImage = "banner_home.jpg" %}

{% block content %}

  <div class="c-section u-text-center">
    <div class="l-container l-container--md">
      <h1 class="c-smalltitle u-mbe-md">Design, Code <span class="amperstand">&amp;</span> Ramblings</h1>
      <p class="c-pagetitle">
        Like great dishes, websites are made of a few <span>simple, well prepared</span> ingredients.
      </p>
    </div>
  </div>
  <div class="c-pagebanner">
    <img
      src="/assets/img/pagebanners/3000x2250/{{ bannerImage }}"
      class="c-pagebanner__img"
      width="2000"
      height="1500"
      alt="Guys protesting with megaphones on a green and yellow smoke background">
  </div>

  <div class="c-section">
    <div class="l-container">

        <div class="l-split l-split--colgap l-split--half@md">
          <div>
            <h2 class="c-smalltitle">Who's this guy, anyway ?</h2>
          </div>
          <div>
              <p>Webstoemp is the web home of Jérôme Coupé, designer, front-end developer and teacher from Brussels, Belgium. When not coding a website or teaching, chances are I am enjoying a few beers with friends or a gravel ride in the nearby woods.</p>
              <p>Although I work on web apps too, I have a soft spot for building content-oriented websites. To me, Internet will always be a way to share information before being an application runtime.</p>
              <p>
                <a class="c-ctalink" href="#">More about me</a>
              </p>
          </div>
        </div>

        <hr class="separator">

        <h2 class="c-smalltitle">Latest blogposts</h2>
        {% set items = collections.blogposts | limit(4) %}
        {% for item in items %}
          {% if loop.first %}<ul class="l-grid l-grid--gap l-grid--2cols@sm l-grid--4cols@lg">{% endif %}
            <li>
              {{ blogcard({
                title: item.data.title,
                url: item.url,
                image: item.data.image,
                imageAlt: item.data.imageAlt,
                date: item.date
              }) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
        <p class="u-mbs-md"><a class="c-ctalink" href="#">All blogposts</a></p>
    </div>
  </div>

{% endblock %}
