---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% from "components/blogCard.njk" import blogCard %}

{% set metaTitle = "Webstoemp" %}
{% set metaDescription = "Webstoemp is the portfolio and blog of Jérôme Coupé, belgian designer, developer and teacher based in Brussels." %}
{% set metaImage = "" %}
{% set currentSection = "home" %}

{% block content %}

  <div class="c-pagesection  c-pagesection--dark">
    <div class="l-container">

        <h1 class="u-hide">Design and code from Brussels, Belgium</h1>
        <div class="c-manifesto">
          <h2 class="c-manifesto__title">Manifesto.</h2>
          <p class="c-manifesto__text">Like all great dishes, websites are made of a few <span>simple</span>, carefully <span>chosen</span> and well <span>prepared</span> ingredients.</p>
        </div>

    </div>
  </div>

  {% set bannerImg = "fontainas.jpg" %}
  {% set bannerAlt = "people at the terrasse of the Fontainas café in Brussels" %}
  {% set bannerCaption = "Café Fontainas, Brussels, June 2023 - Jérôme Coupé" %}
  {% set banner800 = '/assets/img/homebanners/800x600/' ~ bannerImg %}
  {% set banner1024 = '/assets/img/homebanners/1024x576/' ~ bannerImg %}
  {% set banner1500 = '/assets/img/homebanners/1500x844/' ~ bannerImg %}

  <div class="c-homebanner">
      <figure class="c-figure">
        <picture>
          <source type="image/webp"
                  media="(min-width: 600px)"
                  srcset="{{ banner1024|swapExt('webp') }} 1024w,
                          {{ banner1500|swapExt('webp') }} 1500w"
                  sizes="100vw"
                  width="1500"
                  height="844">
          <source media="(min-width: 600px)"
                  srcset="{{ banner1024 }} 1024w,
                          {{ banner1500 }} 1500w"
                  sizes="100vw"
                  width="1500"
                  height="844">
          <source type="image/webp"
                  srcset="{{ banner800|swapExt('webp') }} 800w"
                  width="800"
                  height="600">
          <img src="{{ banner800 }}"
              width="800"
              height="600"
              alt="{{ bannerCaption }}"
              class="c-homebanner__image">
        </picture>
        <figcaption class="c-homebanner__caption">{{ bannerCaption }}</figcaption>
      </figure>
  </div>

  <div class="c-pagesection">
    <div class="l-container">

      <div class="c-pagesection__block">

        <div class="l-split">
          <div>
            <h2 class="c-h2">Meet the cook</h2>
          </div>
          <div>
            <p>When I am not busy designing, coding up a website or warping young minds at school, chances are I am drinking a few Belgian craft beers with friends somewhere in Brussels.</p>
            <p>Although I work on web apps too, I must confess I have a soft spot for building publishing platforms and content-oriented websites.</p>
            <p><a class="c-ctalink" href="#">More about me</a></p>
          </div>
        </div>

      </div>
      <div class="c-pagesection__block  c-pagesection__block--border">
        
        <h2 class="c-h2">Blogposts</h2>
        {% set items = collections.blogposts | limit(4) %}
        {% for item in items %}
          {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large">{% endif %}
            <li>
              {{ blogCard({
                title: item.data.title,
                url: item.url,
                image: item.data.image,
                date: item.date
              }) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
        <p><a class="c-ctalink" href="#">More blogposts</a></p>

      </div>

    </div>
  </div>
  
{% endblock %}