---
permalink: /work/index.html
---

{% extends "layouts/base.njk" %}

{% from "macros/projectcard.njk" import projectcard %}

{% set metaTitle = "Selected Work" %}
{% set metaDescription = "New or older projects." %}
{% set metaImage = "/assets/img/metaimage.png" %}

{% set colorTheme ="teal" %}
{% set currentSection = "work" %}

{% block content %}

  <div class="c-section">
    <div class="l-container">

      <h1 class="c-pagetitle">Selected Work</h1>

      {% for item in collections.projects %}
        {% if loop.first %}<ul class="l-grid l-grid--gap-md l-grid--2cols@sm">{% endif %}
        
        <li>
          {{ projectcard({
            image: item.data.image,
            title: item.data.title,
            text: item.content|safe,
            tags: item.data.tags,
            url: item.data.url
          }) }}
        </li>

      {% endfor %}

    </div>
  </div>
  
{% endblock %}