---
permalink: /work/index.html
---

{% extends "layouts/base.njk" %}

{% from "components/projectcard.njk" import projectcard %}

{% set metaTitle = "Selected Work" %}
{% set metaDescription = "New or older projects." %}
{% set metaImage = "" %}
{% set currentSection = "work" %}

{% set colorTheme ="blue" %}

{% block content %}

  <div class="c-section  u-pbe-none">
    <div class="l-container">

      <div class="c-pageintro">
        <p class="c-suptitle">Projects old and new</p>
        <h1 class="c-h1">Selected Work</h1>
      </div>


      {% for item in collections.projects %}
        {% if loop.first %}<ul class="l-grid  l-grid--2cols">{% endif %}
        
        <li>
          {{ projectcard({
            image: item.data.image,
            title: item.data.title,
            text: item.content|safe,
            tags: item.data.tags,
            url: item.data.url
          }) }}
        </li>

      {% endfor %}

    </div>
  </div>
  
{% endblock %}