/* ==========================================
container
========================================== */

.l-container {
  --container-max-size: 1500px;
  --container-padding: 18px;

  margin-inline: auto;
  padding-inline: var(--container-padding);
  max-inline-size: var(--container-max-size);

  @media (width >= 750px) {
    --container-padding: 30px;
  }
}

.l-container--copy {
  --container-max-size: 80ch;
}
