/* ==========================================
grids
========================================== */

/* ------------------------------------------
base styles
------------------------------------------ */

.l-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gutter);
}

.l-grid--rowgap-md {
  row-gap: calc(var(--grid-gutter) * 1.2);
}

/* columns */
.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* ------------------------------------------
rwd styles
------------------------------------------ */

@media (width >= 500px) {
  .l-grid--full\@small {
    grid-template-columns: minmax(0, 1fr);
  }

  .l-grid--2cols\@small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@small {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@small {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 750px) {
  .l-grid--full\@medium {
    grid-template-columns: minmax(0, 1fr);
  }

  .l-grid--2cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@medium {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .l-grid--full\@large {
    grid-template-columns: minmax(0, 1fr);
  }

  .l-grid--2cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@large {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@large {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 1500px) {
  .l-grid--full\@xlarge {
    grid-template-columns: minmax(0, 1fr);
  }

  .l-grid--2cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@xlarge {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@xlarge {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
