/* ==========================================
container
========================================== */

.l-container {
  --container-max-size: 1640px;
  --container-padding: 18px;

  margin-inline: auto;
  padding-inline: var(--container-padding);
  max-inline-size: var(--container-max-size);

  @media (width >= 750px) {
    --container-padding: 24px;
  }
}

.l-container--medium {
  --container-max-size: 1024px;
}

.l-container--small {
  --container-max-size: 840px;
}

.l-container--copy {
  --container-max-size: 75ch;
}
