/* ==========================================
=container
========================================== */

.l-container {
  --container-padding: max(18px, 3vi);
  --container-max-size: 1640px;

  margin: 0 auto;
  padding-inline: var(--container-padding);
  max-inline-size: var(--container-max-size);
}

.l-container--full {
  --container-max-size: unset;
}

.l-container--md {
  --container-max-size: 900px;
}

.l-container--sm {
  --container-max-size: 660px;
}

.l-container--copy {
  --container-max-size: 70ch;
}
