// =============================================
// =split
// =============================================

.l-split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--grid-gutter);
  }
}

.l-split--1fr2fr {
  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}
