// ==========================================
// typography
// ==========================================

:root {
  --fontstack-main: "Switzer", "Helvetica Neue", system-ui, sans-serif;
  --fontstack-main: "Helvetica Neue", system-ui, sans-serif;
  --fontstack-main: "Public Sans", "Helvetica Neue", system-ui, sans-serif;
  --fontstack-alt: "Sentient", "Georgia", serif;
}
