// ==========================================
// colors
// ==========================================

:root {
  --color-brand: #ffd600;
  --color-brand-warm: #ffc800;
  --color-brand-dark: #ccab07;

  --color-gray1: #0c0a01;
  --color-gray2: #38362f;
  --color-gray3: #46453e;
  --color-gray4: #72716c;
  --color-gray5: #9e9d99;
  --color-gray6: #bbbab8;
  --color-gray7: #e7e6e6;
  --color-gray8: #f5f5f5;

  --color-white: #ffffff;

  // incident variables
  --color-accent: var(--color-brand);
  --color-accent-warm: var(--color-brand-warm);
  --color-accent-dark: var(--color-brand-dark);

  --color-background: var(--color-gray1);

  --color-text: var(--color-gray6);
  --color-text-offset: var(--color-gray5);
  --color-text-light: var(--color-gray7);

  --color-titles: var(--color-white);
}
