<div class="c-mobilemenu js-mobilemenu">
  <div class="l-container">
    <div class="c-mobilemenu__actions">
      <button class="c-mobilemenu__close  js-mobilemenu-trigger">{% render "svg/icon-close.svg" %}</button>
    </div>
    <div class="c-mobilemenu__content">
      <nav>
        <ul class="c-mobilenav">
          <li class="c-mobilenav__item" style="--delay: 1;">
            <a class="c-mobilenav__link  is-active" href="#">Home</a>
          </li>
          <li class="c-mobilenav__item" style="--delay: 2;">
            <a class="c-mobilenav__link" href="#">Work</a>
          </li>
          <li class="c-mobilenav__item" style="--delay: 3;">
            <a class="c-mobilenav__link" href="#">Blog</a>
          </li>
          <li class="c-mobilenav__item" style="--delay: 4;">
            <a class="c-mobilenav__link" href="#">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>